# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
*.env

# Reports / PDFs generated
*.pdf

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Bytecode / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Flask specific
instance/
